--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13
-- Dumped by pg_dump version 15.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: appointments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.appointments (
    id bigint NOT NULL,
    slot_id bigint,
    patient_id bigint,
    description character varying(255),
    status character varying(255) NOT NULL,
    CONSTRAINT appointments_status_check CHECK (((status)::text = ANY (ARRAY[('AVAILABLE'::character varying)::text, ('BOOKED'::character varying)::text, ('FINISHED'::character varying)::text])))
);


ALTER TABLE public.appointments OWNER TO admin;

--
-- Name: appointments_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.appointments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.appointments_id_seq OWNER TO admin;

--
-- Name: appointments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.appointments_id_seq OWNED BY public.appointments.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.departments (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.departments OWNER TO admin;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.departments_id_seq OWNER TO admin;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: doctor_break; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.doctor_break (
    id bigint NOT NULL,
    reason character varying(255),
    doctor_id bigint
);


ALTER TABLE public.doctor_break OWNER TO admin;

--
-- Name: doctor_break_dates; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.doctor_break_dates (
    doctor_break_id bigint NOT NULL,
    dates date
);


ALTER TABLE public.doctor_break_dates OWNER TO admin;

--
-- Name: doctor_break_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.doctor_break_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.doctor_break_seq OWNER TO admin;

--
-- Name: doctors; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.doctors (
    id bigint NOT NULL,
    user_id bigint,
    department_id bigint,
    hospital_id bigint,
    full_name character varying(255),
    email character varying(255),
    phone character varying(255)
);


ALTER TABLE public.doctors OWNER TO admin;

--
-- Name: doctors_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.doctors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.doctors_id_seq OWNER TO admin;

--
-- Name: doctors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.doctors_id_seq OWNED BY public.doctors.id;


--
-- Name: doctors_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.doctors_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.doctors_seq OWNER TO admin;

--
-- Name: hospitals; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.hospitals (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255),
    phone character varying(255),
    user_id bigint
);


ALTER TABLE public.hospitals OWNER TO admin;

--
-- Name: hospitals_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.hospitals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.hospitals_id_seq OWNER TO admin;

--
-- Name: hospitals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.hospitals_id_seq OWNED BY public.hospitals.id;


--
-- Name: hospitals_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.hospitals_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.hospitals_seq OWNER TO admin;

--
-- Name: patients; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.patients (
    id bigint NOT NULL,
    user_id bigint,
    full_name character varying(255),
    phone character varying(255),
    email character varying(255)
);


ALTER TABLE public.patients OWNER TO admin;

--
-- Name: patients_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.patients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.patients_id_seq OWNER TO admin;

--
-- Name: patients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.patients_id_seq OWNED BY public.patients.id;


--
-- Name: patients_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.patients_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.patients_seq OWNER TO admin;

--
-- Name: schedule; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.schedule (
    id bigint NOT NULL,
    doctor_id bigint,
    day_of_week character varying(255) NOT NULL,
    is_working boolean DEFAULT false,
    start_time time without time zone,
    end_time time without time zone,
    break_start time without time zone,
    break_end time without time zone,
    CONSTRAINT schedule_day_of_week_check CHECK (((day_of_week)::text = ANY (ARRAY[('MONDAY'::character varying)::text, ('TUESDAY'::character varying)::text, ('WEDNESDAY'::character varying)::text, ('THURSDAY'::character varying)::text, ('FRIDAY'::character varying)::text, ('SATURDAY'::character varying)::text, ('SUNDAY'::character varying)::text])))
);


ALTER TABLE public.schedule OWNER TO admin;

--
-- Name: schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.schedule_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.schedule_id_seq OWNER TO admin;

--
-- Name: schedule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.schedule_id_seq OWNED BY public.schedule.id;


--
-- Name: schedule_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.schedule_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.schedule_seq OWNER TO admin;

--
-- Name: slots; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.slots (
    id bigint NOT NULL,
    doctor_id bigint,
    start_time time(6) without time zone NOT NULL,
    booked boolean DEFAULT false,
    date date
);


ALTER TABLE public.slots OWNER TO admin;

--
-- Name: slots_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.slots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.slots_id_seq OWNER TO admin;

--
-- Name: slots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.slots_id_seq OWNED BY public.slots.id;


--
-- Name: slots_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.slots_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.slots_seq OWNER TO admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    email character varying(255),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY (ARRAY[('PATIENT'::character varying)::text, ('DOCTOR'::character varying)::text, ('ADMIN'::character varying)::text])))
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_seq OWNER TO admin;

--
-- Name: appointments id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.appointments ALTER COLUMN id SET DEFAULT nextval('public.appointments_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: doctors id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.doctors ALTER COLUMN id SET DEFAULT nextval('public.doctors_id_seq'::regclass);


--
-- Name: hospitals id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hospitals ALTER COLUMN id SET DEFAULT nextval('public.hospitals_id_seq'::regclass);


--
-- Name: patients id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.patients ALTER COLUMN id SET DEFAULT nextval('public.patients_id_seq'::regclass);


--
-- Name: schedule id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.schedule ALTER COLUMN id SET DEFAULT nextval('public.schedule_id_seq'::regclass);


--
-- Name: slots id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.slots ALTER COLUMN id SET DEFAULT nextval('public.slots_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: appointments; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.appointments (id, slot_id, patient_id, description, status) FROM stdin;
5	14830	152		BOOKED
6	14861	452		BOOKED
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.departments (id, name, description) FROM stdin;
1	Cardiology	Heart and cardiovascular diseases
2	Dermatology	Skin conditions treatment
3	Neurology	Nervous system disorders
\.


--
-- Data for Name: doctor_break; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.doctor_break (id, reason, doctor_id) FROM stdin;
452	Annual leave	1
\.


--
-- Data for Name: doctor_break_dates; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.doctor_break_dates (doctor_break_id, dates) FROM stdin;
452	2025-08-10
452	2025-08-11
\.


--
-- Data for Name: doctors; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.doctors (id, user_id, department_id, hospital_id, full_name, email, phone) FROM stdin;
1	153	1	1	Katerina	\N	+1234567890
52	202	2	1	Sofija	\N	123456789
\.


--
-- Data for Name: hospitals; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.hospitals (id, name, email, phone, user_id) FROM stdin;
1	Hospital	hospital@gmail.com	+1234567890	1
\.


--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.patients (id, user_id, full_name, phone, email) FROM stdin;
152	203	Hristina Z	075389541	\N
202	252	Jana Zdraveska	071282411	\N
252	302	Ivana 1	078389541	\N
302	352	Leon Asanovski	075500000	\N
352	402	Ana	078389549	\N
402	452	Ivana M	079345111	\N
452	502	dimce	078455455	\N
\.


--
-- Data for Name: schedule; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: slots; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: appointments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.appointments_id_seq', 6, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.departments_id_seq', 1, false);


--
-- Name: doctor_break_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.doctor_break_seq', 501, true);


--
-- Name: doctors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.doctors_id_seq', 4, false);


--
-- Name: doctors_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.doctors_seq', 101, true);


--
-- Name: hospitals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.hospitals_id_seq', 1, false);


--
-- Name: hospitals_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.hospitals_seq', 1, false);


--
-- Name: patients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.patients_id_seq', 1, false);


--
-- Name: patients_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.patients_seq', 501, true);


--
-- Name: schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.schedule_id_seq', 1, false);


--
-- Name: schedule_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.schedule_seq', 401, true);


--
-- Name: slots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.slots_id_seq', 1, false);


--
-- Name: slots_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.slots_seq', 18801, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: users_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_seq', 551, true);


--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (id);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: doctor_break doctor_break_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.doctor_break
    ADD CONSTRAINT doctor_break_pkey PRIMARY KEY (id);


--
-- Name: doctors doctors_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.doctors
    ADD CONSTRAINT doctors_pkey PRIMARY KEY (id);


--
-- Name: hospitals hospitals_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hospitals
    ADD CONSTRAINT hospitals_pkey PRIMARY KEY (id);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (id);


--
-- Name: schedule schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.schedule
    ADD CONSTRAINT schedule_pkey PRIMARY KEY (id);


--
-- Name: slots slots_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.slots
    ADD CONSTRAINT slots_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: appointments appointments_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: appointments appointments_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_slot_id_fkey FOREIGN KEY (slot_id) REFERENCES public.slots(id);


--
-- Name: doctors doctors_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.doctors
    ADD CONSTRAINT doctors_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: doctors doctors_hospital_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.doctors
    ADD CONSTRAINT doctors_hospital_id_fkey FOREIGN KEY (hospital_id) REFERENCES public.hospitals(id);


--
-- Name: doctors doctors_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.doctors
    ADD CONSTRAINT doctors_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: doctor_break fkietocvfrwijr85xe0e0r2c6x1; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.doctor_break
    ADD CONSTRAINT fkietocvfrwijr85xe0e0r2c6x1 FOREIGN KEY (doctor_id) REFERENCES public.doctors(id);


--
-- Name: doctor_break_dates fkmm9wbbkr5790bkohisffmplck; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.doctor_break_dates
    ADD CONSTRAINT fkmm9wbbkr5790bkohisffmplck FOREIGN KEY (doctor_break_id) REFERENCES public.doctor_break(id);


--
-- Name: hospitals hospitals_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hospitals
    ADD CONSTRAINT hospitals_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: patients patients_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: schedule schedule_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.schedule
    ADD CONSTRAINT schedule_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.doctors(id);


--
-- Name: slots slots_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.slots
    ADD CONSTRAINT slots_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.doctors(id);


--
-- PostgreSQL database dump complete
--

