<div class="register-container">
    <div class="register-form">
        <h2>Register </h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>
                    Username:
                    <input formControlName="username" />
                </label>
                <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
                    Username is required (max 50 chars)
                </div>
            </div>

            <div class="form-group">
                <label>
                    Password:
                    <input type="password" formControlName="password" />
                </label>
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                    Password is required (min 6 chars)
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email">
            </div>

            <div class="form-group">
            <label>
                Full Name:
                <input formControlName="fullName" />
            </label>
            <div *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched">
                Full Name is required
            </div>
            </div>


            <div class="form-group">
                <label>
                    Phone:
                    <input formControlName="phone" />
                </label>
                <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched">
                    Phone is required
                </div>

            </div>

            <div class="form-group">
                <label>
                    Role:
                    <select formControlName="role" (change)="onRoleChange()">
                        <option *ngFor="let r of roles" [ngValue]="r">{{ r }}</option>
                    </select>
                </label>
            </div>
            <ng-container *ngIf="isDoctor()">
                <label>
                    Hospital:
                    <select formControlName="hospitalId" (change)="onHospitalChange()">
                        <option [ngValue]="null">Select hospital</option>
                        <option *ngFor="let h of hospitals" [ngValue]="h.id">{{ h.name }}</option>
                    </select>
                </label>

                <label>
                    Department:
                    <select formControlName="departmentId">
                        <option [ngValue]="null">Select department</option>
                        <option *ngFor="let d of departments" [ngValue]="d.id">{{ d.name }}</option>
                    </select>
                </label>
            </ng-container>

            <button type="submit" [disabled]="registerForm.invalid">Register</button>

        </form>

        <p class="login-link">
            Already have an account? <a [routerLink]="['/login']">Login here</a>
        </p>
    </div>
</div>
